.provaPage {
  background-color: rgb(228, 228, 228);
  width: 98.5vw;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 6%;
}

.provaContent {
  background-color: white;
  width: auto;
  height: auto;
  margin-top: 2%;
  box-shadow: 2px 2px 2px 2px gray;
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 3%;
  margin-bottom: 5%;
}