.modulo4Page {
  background-color: rgb(228, 228, 228);
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 6%;
  width: 98.8vw;
}

.modulo4Content {
  background-color: white;
  width: 70%;
  margin-left: 15%;
  height: auto;
  margin-top: 2%;
  box-shadow: 2px 2px 2px 2px gray;
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 3%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modulo4Title {
  font-weight: 800;
  font-size: 2.5em;
  margin-bottom: 5%;
}

.videoMod4 {
  height: 580px;
  width: 95%;
  margin-bottom: 2%;
}